.overlayer-banner {
    top: 0;
    position: absolute;
    z-index: 10000;
    background: rgba(247, 39, 39, 0.461);
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: bannerAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.page-has-overlayer-banner {
    animation-name: pageMove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes bannerAnimation {
    from {transform: translateY(-100px); opacity: 0;}
    to {transform: translateY(-50px); opacity: 1;}
}

@keyframes pageMove {
    from {transform: translateY(0px);}
    to {transform: translateY(50px);}
}
