.overlayer-banner {
    top: 0;
    position: absolute;
    z-index: 10000;
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: bannerAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.overlayer-banner div {
    background: rgba(247, 39, 39, 0.68);
    backdrop-filter: blur(2px);
    border-radius: 100px;
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlayer-banner h1 {
    font-family: arial, sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.page-has-overlayer-banner {
    animation-name: pageMove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes bannerAnimation {
    from {transform: translateY(-50px); opacity: 0;}
    to {transform: translateY(4px); opacity: 1;}
}

@keyframes pageMove {
    from {transform: translateY(0px);}
    to {transform: translateY(50px);}
}
